body {
  margin: 0;
  padding: 0 2px;
  background: #000000;
  color: white;
  font-family: monospace, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

canvas {
  border-color: #111;
  border-style: solid;
  border-width: 1px 0;
  border-radius: 16px;
  display: block;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

h1 {
  text-align: center;
  color: #ccc;
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem;
}

.canvas-container {
  flex: 1;
  width: 100%;
  position: relative;
  display: grid;
  place-items: center;
}

.canvas-container::after {
  content: '';
  display: block;
  background-image: linear-gradient(0deg, rgb(0 0 0 / 0.1) 1px, transparent 1px);
  background-size: 4px 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

input[type=range] {
  accent-color: #ffffff;
  position: relative;
  padding: 0.5rem 0;
  opacity: 0.99;
}

input[type=range]::before {
  content: '';
  background-image: linear-gradient(90deg, #FF0000, #FFFF00, #00FF00, #00FFFF, #0000FF, #FF00FF, #FF0000);
  position: absolute;
  top: 0;
  left: -4px;
  width: 100%;
  height: 100%;
  border-color: red;
  border-style: solid;
  border-width: 0 4px;
  border-radius: 4px;
  opacity: 0.6;
  z-index: -1;
}

.btn-group {
  display: flex;
  border-radius: 1rem;
  padding: 1px 2px;
  gap: 0.5rem;
}

select,
button {
  border: none;
}

select {
  padding: 0.5rem;
  color: white;
  background-color: #123;
  background-image: linear-gradient(45deg, #123, #012);
  border-radius: 0.5rem;
}

button {
  font-family: monospace;
  padding: 0;
  background: none;
  font-size: 200%;
}

.info {
  text-align: center;
  color: #888;
}

h1 {
  animation: neon 9s ease-in-out infinite;
}

@keyframes neon {
  0% {
    text-shadow: 0 0 1rem purple;
    color: #F00;
  }

  10% {
    text-shadow: 0 0 1rem yellow;
    color: #ff0;
  }

  30% {
    text-shadow: 0 0 1rem cyan;
    color: #0f0;
  }

  50% {
    text-shadow: 0 0 1rem purple;
    color: #0ff;
  }

  70% {
    text-shadow: 0 0 1rem yellow;
    color: #00f;
  }

  90% {
    text-shadow: 0 0 1rem cyan;
    color: #f0f;
  }

  100% {
    text-shadow: 0 0 1rem purple;
    color: #f00;
  }
}

.start-btn {
  position: relative;
}

.start-btn.start-btn-init::before {
  content: 'Click here to start';
  display: inline-block;
  background-color: #dadada;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  top: -2rem;
  left: 50%;
  z-index: 1;
}

.start-btn.start-btn-init::after {
  content: '';
  display: block;
  position: absolute;
  top: -1rem;
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 1rem;
  background-color: #dadada;
  transform: rotateZ(45deg);
}