body {
  margin: 0;
  padding: 0 2px;
  background: #000000;
  color: white;
  font-family: monospace, sans-serif;
}

canvas {
  border: 1px solid #111;
  border-radius: 16px;
  display: block;
  margin: 0 auto;
  width: 99%;
  position: relative;
}
h1 {
  text-align: center;
  color: #ccc;
  font-size: 1.2rem;
  margin: 0.25rem;
}

.canvas-container {
  position: relative;
}

.canvas--container::after {
  content: '';
  display: block;
  background-image: linear-gradient(0deg, rgb(0 0 0 / 0.3) 1px, transparent 1px);
  background-size: 4px 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0.5rem;
}

input[type=range] {
  accent-color: #234;
  position: relative;
  padding: 0.5rem 0;
  opacity: 0.99;
}

input[type=range]::before {
  content: '';
  background-image: linear-gradient(90deg, #FF0000, #FFFF00, #00FF00, #00FFFF, #0000FF, #FF00FF, #FF0000);
  position: absolute;
  top: 0;
  left: -4px;
  width: 100%;
  height: 100%;
  border-color: red;
  border-style: solid;
  border-width: 0 4px;
  border-radius: 4px;
  z-index: -1;
}

.btn-group {
  border: 1px solid #123;
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
}

button,
select {
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #123;
  background-image: linear-gradient(45deg, #123, #012);
}

.info {
  text-align: center;
  color: #888;
}

h1 {
  animation: neon 9s ease-in-out infinite;
}

@keyframes neon {
  0% {
    text-shadow: 0 0 1rem purple;
    color: #F00;
  }
  
  10% {
    text-shadow: 0 0 1rem yellow;
    color: #ff0;
  }
  30% {
    text-shadow: 0 0 1rem cyan;
    color: #0f0;
  }
  50% {
    text-shadow: 0 0 1rem purple;
    color: #0ff;
  }
  70% {
    text-shadow: 0 0 1rem yellow;
    color: #00f;
  }
  90% {
    text-shadow: 0 0 1rem cyan;
    color: #f0f;
  }
  100% {
    text-shadow: 0 0 1rem purple;
    color: #f00;
  }
}